#content-wrapper 
{
    padding-left: 1em;
}    

footer
{
    padding: 1em;
    margin-top: 0em;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-top: solid 1px #275da1;
}

footer h3
{
    font-size: 1.25em;
}

footer h2
{
    color: white;
    font-size: 1.5em;
}

header
{
    padding: 1em;
}

.page-header #navmenu ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-header #navmenu li 
{
    display: inline; 
}

.page-header #navmenu ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}

.page-footer h3, h2 
{
    display: inline;
}

.page-footer #keyinfo ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-footer #keyinfo li 
{
    display: inline; 
}

.page-footer #keyinfo ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}


