.page-header #navmenu ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-header #navmenu li 
{
    display: inline; 
}

.page-header #navmenu ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}

.page-footer #keyinfo ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-footer #keyinfo li 
{
    display: inline; 
}

.page-footer #keyinfo ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}


