footer
{
    padding: 1em;
    margin-top: -1em;
}

footer h3
{
    color: #275da1;
    font-size: 1.25em;
}

footer h2
{
    color: #2879d0;
    font-size: 1.5em;
}

header
{
    padding: 1em;
}

.page-header #navmenu ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-header #navmenu li 
{
    display: inline; 
}

.page-header #navmenu ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}

.page-footer h3, h2 
{
    display: inline;
}

.page-footer #keyinfo ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

.page-footer #keyinfo li 
{
    display: inline; 
}

.page-footer #keyinfo ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}


